# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker ignore itself
.dockerignore

# Git
.git
.gitignore

# IDE settings
.vscode/

# Test and coverage reports
.tox/
.pytest_cache/
.coverage

# Environment variables
.env
